Mapping {
    MainProj = ..\bsp\mainApplication
    BuildConfig = Debug
	Proj2Convert = eepromManager
	OutputFileName = ..\eepromManager\CMakeLists.txt
	TemplateFile = Debug\CmakeTemplate.txt
	BAKE_INCLD_TEMP_X = Debug\CmakeTemplate_xx.txt
	AUTOSAR_SPECIAL = Autosar_on
	BAKE_ARRAY = [test1, test2, test3]	
}

Mapping {
    Workspace = [..\path1]
    MainProj = ..\bsp\mainApplication
	BuildConfig = Unittest
	Proj2Convert = eepromManager
	OutputFileName = Unittest\CMakeListsUnittest.txt
	TemplateFile = Unittest\CmakeTemplateUnittest.txt
	BAKE_INCLD_TEMP_X = Unittest\CmakeTemplate_xy.txt
	ANOTHER_PARAM = true
	ANOTHER_TEST = false
}