Mapping {
    Workspace = [..\path1, ..\path2]
    MainProj = ..\application\mainApplication
	BuildConfig = Debug
	Proj2Convert = eepromManager_noSources
	OutputFileName = CMakeLists.txt
	TemplateFile = template_eepromManager.txt
	BAKE_SOURCES = []
	TEXT = test
}

Mapping {
    Workspace = [..\path1]
	MainProj = ..\application\mainApplication
	BuildConfig = Unittest
	Proj2Convert = eepromManager_emptyVar
	OutputFileName = CMakeListsUnittest.txt
	TemplateFile = template_eepromManager.txt
	TEXT = 
}