Mapping {
    Workspace = [..\path1, ..\path2]
    MainProj = ..\bsp\mainApplication
	BuildConfig = Debug
	Proj2Convert = eepromManager
	OutputFileName = ..\WorkingFiles\tools\CMakeLists.txt
	TemplateFile = ..\WorkingFiles\tools\CmakeTemplate.txt
	BAKE_INCLD_TEMP_X = ..\WorkingFiles\tools\CmakeTemplate_xx.txt
	AUTOSAR_SPECIAL = Autosar_on
	BAKE_ARRAY = [test1, test2, test3]	
}

Mapping {
    Workspace = [..\path1]
	MainProj = ..\bsp\mainApplication
	BuildConfig = Unittest
	Proj2Convert = eepromManager
	OutputFileName = ..\WorkingFiles\tools\CMakeListsUnittest.txt
	TemplateFile = ..\WorkingFiles\tools\CmakeTemplateUnittest.txt
	BAKE_INCLD_TEMP_X = ..\WorkingFiles\tools\CmakeTemplate_xy.txt
	ANOTHER_PARAM = true
	ANOTHER_TEST = false
