Mapping {
    Workspace = [..\path1, ..\path2]
    MainProj = ..\..\WorkingFiles\application\mainApplication
	BuildConfig = Debug
	Proj2Convert = eepromManager
	OutputFileName = CMakeLists.txt
	TemplateFile = CmakeTemplateEmpty.txt
	AUTOSAR_SPECIAL = Autosar_on
	BAKE_ARRAY = [test1, test2, test3]
}

Mapping {
    Workspace = [..\path1]
	MainProj = ..\..\WorkingFiles\application\mainApplication
	BuildConfig = Unittest
	Proj2Convert = eepromManager
	OutputFileName = CMakeListsUnittest.txt
	TemplateFile = CmakeTemplateUnittest.txt
	ANOTHER_PARAM = true
	ANOTHER_TEST = false
}